:root {
  --base: #e3b594;
  --spacing: 20px;
  --blue: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blue(var(--blue));

}

.h1{
  color: var(--base);
}



  body {
    text-align: center;
    background: #1a2e37;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }
  .controls {
    margin-bottom: 50px;
  }
  input {
    width: 100px;
  }